[submodule "packages/evm/lib/forge-std"]
	path = packages/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/evm/lib/solady"]
	path = packages/evm/lib/solady
	url = https://github.com/vectorized/solady
[submodule "packages/evm/lib/modular-account"]
	path = packages/evm/lib/modular-account
	url = https://github.com/alchemyplatform/modular-account
[submodule "packages/evm/lib/openzeppelin-contracts"]
	path = packages/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
