name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      VITE_BOOST_TESTNET_SIGNER_EOA: ${{ vars.VITE_BOOST_TESTNET_SIGNER_EOA}}
      VITE_BOOST_MAINNET_SIGNER_EOA: ${{ vars.VITE_BOOST_MAINNET_SIGNER_EOA}}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 2
          token: ${{ secrets.BOOST_GITHUB_TOKEN }}
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.BOOST_GITHUB_TOKEN }}

      - name: Lint
        run: npx turbo lint:ci --cache-dir=".cache"

      - name: Build
        env:
          NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.WALLETCONNECT_PROJECT_ID }}
          NODE_OPTIONS: --max-old-space-size=8192
        run: npx turbo build --cache-dir=".cache"

      - name: Make envfile for EVM
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_TEST_SIGNER_PRIVATE_KEY: ${{ secrets.TEST_SIGNER_PRIVATE_KEY }}
          envkey_VITE_SEPOLIA_RPC_URL: ${{ secrets.VITE_SEPOLIA_RPC_URL }}
          directory: packages/evm
          file_name: .env

      - name: Make envfile for SDK
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_VITE_BOOST_CORE_ADDRESS: ${{ vars.VITE_BOOST_CORE_ADDRESS }}
          directory: packages/sdk
          file_name: .env

      - name: Run tests
        uses: nick-fields/retry@v3
        env:
          NODE_OPTIONS: --max-old-space-size=8192
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: npx turbo test:ci --cache-dir=".cache" --filter="./packages/*"

      - name: Validate BoostCore Upgrade Safety
        run: |
          cd packages/evm
          forge clean
          forge build
          forge script script/solidity/ValidateBoostCoreUpgrade.s.sol

      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4.3.0
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
